.main_body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

.sidebar {
    align-items: flex-start;
    height: 20rem;
    width: 4rem;
    margin: 5rem;
}

.main_screen {
    align-items: flex-start;
    height: 20rem;
    margin: 5rem;
}

.submodel_title {
    margin: 1rem;
    padding: 0.5rem;
}

.nav_button {
    margin: 1rem;
    margin-left: 2rem;
    padding: 0.5rem;
}