<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <h1>Home</h1>
    <div class="main_body">
        <div class="sidebar">
            <h3 class="submodel_title">Sidebar</h3>
            <div class="crud_flight">
                <button class="nav_button">Adicionar Voo</button>
            </div>
            <div class="crud_flight">
                <button class="nav_button">Editar Voo</button>
            </div>
            <div class="flight_reports">
                <button class="nav_button">Relatórios</button>
            </div>
        </div>
        <div class="main_screen">
            <h3 class="submodel_title">Monitoramento de voos</h3>
            <button class="nav_button">Monitoramento</button>
        </div>
    </div>


</body>

</html>