<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoramento de voos</title>
</head>

<body>
    <button class="back_btn">Voltar</button>
    <div class="flight-list">
        <ul>
            <li>Voo 1</li>
            <li>Voo 2</li>
            <li>Voo 3</li>
            <li>Voo 4</li>
            <li>Voo 5</li>
        </ul>
    </div>

</body>

</html>